:host {
  ion-content {
    --background: #f4f6fa;
    padding-top: env(safe-area-inset-top);
  }
}

.custom-ion-header {
  --background: #3f51b5;
  --color: #ffffff;
  padding-top: env(safe-area-inset-top);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-toolbar {
  --background: #3f51b5;
  color: #ffffff;
}

ion-button {
  color: #ffffff;
}

.custom-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  padding-top: 16px;
}

.notification-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.notification-grid {
  display: grid;
  grid-template-columns: 40px 1fr auto;
  gap: 12px;
  align-items: start;
}

.icon-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.notif-icon {
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e46f00;
}

.content-area {
  display: flex;
  flex-direction: column;
  gap: 4px;

  .title-date-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      color: #333;
    }
  }

  .notification-description {
    font-size: 14px;
    color: #444;
    margin: 0;
  }

  .user-message-group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .notification-user {
      font-size: 13px;
      color: #444;
      font-weight: 500;
      margin: 0;
    }
  }
}

.side-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
  padding-top: 2px;

  .notification-date {
    font-size: 12px;
    color: #888;
    align-self: flex-start; /* Move date to the top */
  }

  .approval-label {
    font-size: 13px;
    font-weight: bold;
    color: #e46f00;
    text-align: right;
    align-self: flex-start; /* Align with username */
  }
}
