<ion-content>
  <div class="container">
    <div class="profile-box">
      <div class="avatar-large">
        <ion-icon name="person" class="avatar-icon"></ion-icon>
      </div>
      <div class="profile-name">
        <h2>{{ user?.name }}</h2>
        <p>{{ user?.email }}</p>
      </div>
    </div>

    <div class="field-box" *ngIf="user">
      <ion-label>
        <h3>NIK</h3>
        <p>{{ user.nik ? user.nik : '-' }}</p>
      </ion-label>
    </div>

    <div class="field-box">
      <ion-label>
        <h3>Phone</h3>
        <p>{{ user.phone ? user.phone : '-' }}</p>
      </ion-label>
    </div>

    <div class="field-box">
      <ion-label>
        <h3>Department</h3>
        <p>{{ user.department ? user.department : '-' }}</p>
      </ion-label>
    </div>

    <div class="logout-container">
      <ion-button
        type="submit"
        (click)="logout()"
        expand="block"
        color="light"
        class="logout-button"
      >
        <ion-icon name="log-out" slot="start"></ion-icon>
        Logout
      </ion-button>
    </div>
  </div>
</ion-content>
