<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">tabs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->

<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button
      tab="home-page"
      [ngClass]="{ 'active-tab': activeTab === 'home-page' }"
      routerLink="/home-page"
      routerLinkActive="activeTab"
      (click)="setActiveTab('home-page')"
    >
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="order"
      *ngIf="userRole === 'user'"
      [ngClass]="{ 'active-tab': activeTab === 'order' }"
      routerLink="/order"
      routerLinkActive="activeTab"
      (click)="setActiveTab('order')"
    >
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="approval"
      *ngIf="userRole === 'approver'"
      [ngClass]="{ 'active-tab': activeTab === 'approval' }"
      routerLink="/approval"
      routerLinkActive="activeTab"
      (click)="setActiveTab('approval')"
    >
      <ion-icon name="create"></ion-icon>
      <ion-label>Approval</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="history"
      [ngClass]="{ 'active-tab': activeTab === 'history' }"
      routerLink="/history"
      routerLinkActive="activeTab"
      (click)="setActiveTab('history')"
    >
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="profile"
      [ngClass]="{ 'active-tab': activeTab === 'profile' }"
      routerLink="/profile"
      routerLinkActive="activeTab"
      (click)="setActiveTab('profile')"
    >
      <ion-icon name="person"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
