<ion-content class="login-content" fullscreen>
  <div class="login-container">
    <div class="login-box">
      <div class="logo-container">
        <div class="logo-icon">
          <img
            src="assets/images/logo_dewi.png"
            alt="App Logo"
            class="logo-image"
          />
        </div>
        <span class="logo-text">DEWI System</span>
      </div>

      <div class="login-header">
        <h1>Welcome!</h1>
        <p>
          DEWI's system aims to simplify and accelerate the procurement process
          for goods and services in a transparent, efficient, and seamless
          integration.
        </p>
      </div>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-form">
        <div class="form-group">
          <label for="email">NIK</label>
          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Enter your NIK"
          />
        </div>
        <div
          *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
          class="error-message"
        >
          NIK is required.
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <div class="password-wrapper">
            <input
              id="password"
              [type]="showPassword ? 'text' : 'password'"
              formControlName="password"
              placeholder="Enter your password"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="password-toggle"
            >
              <ion-icon
                [name]="showPassword ? 'eye-outline' : 'eye-off-outline'"
                [style.fontSize.px]="20"
              ></ion-icon>
            </button>
          </div>
          <div
            *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
            class="error-message"
          >
            Password is required.
          </div>
        </div>

        <div class="form-options">
          <a href="#">Forget password?</a>
        </div>

        <div *ngIf="loginErrorMessage" class="error-message">
          {{ loginErrorMessage }}
        </div>

        <button type="submit" class="submit-btn" [disabled]="isLoading">
          <ng-container *ngIf="!isLoading; else loading"> Login </ng-container>
          <ng-template #loading>
            <span
              class="spinner-border"
              role="status"
              aria-hidden="true"
            ></span>
            Logging in...
          </ng-template>
        </button>
      </form>

      <div class="modal-backdrop" *ngIf="showSuccessModal">
        <div class="modal-content">
          <ion-icon
            size="large"
            name="checkmark-circle"
            class="success-icon"
          ></ion-icon>
          <h2>Login Berhasil</h2>
          <p>Selamat datang, {{ userName }}!</p>
          <button class="close-button" (click)="closeModal()">OK</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
