<ion-content>
  <div class="dashboard-container">
    <!-- Header -->
    <div class="header">
      <div class="header-content">
        <div>
          <p>History</p>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div *ngFor="let item of data">
        <div class="card" [ngClass]="getStatusClass(item.status)">
          <div class="header-info">
            <h3>{{ item.no_reg }}</h3>
            <p>{{ item.created_at | date: 'dd-MMM-yyyy' }}</p>
          </div>

          <p>Total Amount: Rp {{ item.total_amount | number:'1.0-0' }},-</p>
          <p>Username: {{ item.user.name || '-' }}</p>

          <div class="status-show-container">
            <span class="status-label" [ngClass]="getStatusClass(item.status)">
              {{ item.status === 'approved_manager' ? 'Approved' : item.status
              === 'rejected_manager' ? 'Rejected' : item.status }}
            </span>
            <p class="show-detail" (click)="openDetail(item)">Show Detail</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <!-- Modal -->
    <div class="modal" *ngIf="selectedItem">
      <div class="modal-content">
        <div class="modal-header">
          <div class="no-reg-container">
            <h2 class="no-reg">{{ selectedItem.no_reg }}</h2>
            <p class="created-at">
              Created at: {{ selectedItem.created_at | date: 'dd-MM-yyyy' }}
            </p>
          </div>
          <ion-icon
            name="close"
            class="close-icon"
            (click)="closeModal()"
          ></ion-icon>
        </div>

        <div class="modal-body">
          <div class="info-section">
            <p><strong>Name: </strong> {{ selectedItem.user?.name || '-' }}</p>
            <p><strong>Title: </strong> {{ selectedItem.title || '-' }}</p>
          </div>

          <div class="icon-section">
            <ion-icon
              size="large"
              [name]="selectedItem.status === 'approved_manager' ? 'checkmark-circle' : 'close-circle'"
              [class.approve]="selectedItem.status === 'approved_manager'"
              [class.reject]="selectedItem.status === 'rejected_manager'"
            ></ion-icon>
            <div class="status-info">
              <p class="status-text">
                {{ selectedItem.status === 'approved_manager' ? 'Approved' :
                selectedItem.status === 'rejected_manager' ? 'Rejected' :
                selectedItem.status }}
              </p>
              <p class="approval-date">
                ({{ selectedItem.approver_date | date: 'dd-MM-yyyy' }})
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
