// .procurement-content {
//   --background: #f9fafb;
//   padding-top: calc(env(safe-area-inset-top, 24px));
// }

.procurement-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  padding: calc(env(safe-area-inset-top, 0px) + 1.5rem) 1.5rem 0 1.5rem;
  max-width: 500px;
  margin: 0 auto;
}

.header-section {
  display: flex;
  justify-content: center;
  padding: 2rem 0 1rem 0;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus-icon {
  color: white;
  font-size: 1.25rem;
}

.logo-text {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1f2937;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 64rem;
  margin: 0 auto;
  text-align: center;
  padding: 2rem 0;
}

.hero-section {
  margin-bottom: 4rem;
}

.hero-title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  line-height: 1.1;
  margin-bottom: 2rem;

  @media (min-width: 768px) {
    font-size: 3rem;
  }

  @media (min-width: 1024px) {
    font-size: 3.75rem;
  }
}

.hero-subtitle {
  font-size: 1.125rem;
  color: #6b7280;
  line-height: 1.6;
  max-width: 32rem;
  margin: 0 auto 0.5rem auto;
  // margin-bottom: 0.5rem;

  @media (min-width: 768px) {
    font-size: 1.25rem;
  }
}

.illustration-container {
  position: relative;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.cta-section {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.cta-button {
  --background: #3f51b5;
  --background-hover: #3f51b5;
  --background-focused: #3f51b5;
  --color: white;
  --border-radius: 50%; /* Membuat tombol menjadi bulat */
  // width: 3rem;
  // height: 3rem;

  ion-icon {
    width: 30px;
    height: 40px;
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  .travel-container {
    padding: 0 1rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-subtitle {
    font-size: 1rem;
  }

  .main-content {
    padding: 1rem 0;
  }
}
