<ion-content class="pastel-blue-background">
  <ion-grid class="welcome-container centered-content">
    <ion-row>
      <ion-col size="12" class="welcome-column">
        <img
          src="assets/images/logo_dewi.png"
          alt="App Logo"
          class="app-logo"
        />
        <h3>Digital E-Procurement With Integrity</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="welcome-message">"Pengadaan Digital, Penuh Integritas."</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" class="logo-column">
        <img src="assets/images/home.png" alt="Home Logo" class="app-logo" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="14">
        <ion-button fill="clear" class="icon-button" (click)="goToLogin()">
          <ion-icon
            name="arrow-forward-circle-outline"
            style="font-size: 40px"
          ></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
