<ion-content [fullscreen]="true" class="procurement-content">
  <div class="procurement-container">
    <!-- Header -->
    <div class="header-section">
      <div class="logo-container">
        <div class="logo-icon">
          <img src="assets/images/logo_dewi.png" alt="App Logo" />
        </div>
        <span class="logo-text">DEWI System</span>
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Hero Text -->
      <div class="hero-section">
        <h1 class="hero-title">
          Digital E-Procurement,<br />
          With Integrity.
        </h1>

        <p class="hero-subtitle">
          Solusi terbaik untuk pengadaan yang transparan, efisien, dan
          terpercaya.
        </p>
      </div>

      <!-- Illustration -->
      <div class="illustration-container">
        <img src="assets/images/home.png" alt="Home Logo" class="home-logo" />
      </div>
      <!-- CTA Button -->
      <div class="cta-section">
        <ion-button class="cta-button" routerLink="/login">
          <ion-icon size="large" name="arrow-forward"></ion-icon>
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
