<ion-header>
  <ion-toolbar class="header">
    <ion-title>Approval</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <div class="dashboard-container">
    <div class="notifications-list">
      <!-- Loading -->
      <ion-spinner
        name="crescent"
        *ngIf="loading"
        class="center-spinner"
      ></ion-spinner>

      <!-- No data -->
      <div class="no-data" *ngIf="!loading && approvals.length === 0">
        <ion-icon name="tray-outline" size="large"></ion-icon>
        <p>Tidak ada data</p>
      </div>

      <!-- List approval -->
      <div
        class="notification-item"
        *ngFor="let approval of approvals"
        (click)="goToDetail(approval)"
      >
        <div class="notification-header">
          <h3>{{ approval.title }}</h3>
          <span class="notification-date">
            {{ approval.due_date | date: 'dd-MMM-yyyy' }}
          </span>
        </div>

        <p class="notification-description">{{ approval.description }}</p>
        <p>{{ approval.user?.name }}</p>

        <span class="approval-label" *ngIf="approval.message">
          {{ approval.message }}
        </span>
      </div>
    </div>
  </div>
</ion-content>
