ion-content {
  --background: #f8f9fa !important;
  min-height: 100vh;
}

ion-toolbar.header {
  background-color: #3f51b5 !important;
  color: #ffffff !important;
  --background: #3f51b5 !important;
  --color: #ffffff !important;
  font-weight: bold;
}

ion-title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  max-width: 15ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dashboard-container {
  max-width: 500px;
  margin: 0 auto;
  background-color: transparent;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  flex-grow: 1;
}

/* Loading Spinner */
.center-spinner {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  color: #3f51b5;
}

/* No Data Icon + Teks */
.no-data {
  text-align: center;
  color: #888;
  margin-top: 40px;

  ion-icon {
    font-size: 48px;
    margin-bottom: 12px;
    color: #bbb;
  }

  p {
    font-size: 16px;
    margin: 0;
  }
}

.notification-item {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 16px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease;
}

.notification-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification-header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notification-date {
  font-size: 14px;
  color: #666;
}

.notification-description {
  margin: 12px 0;
  font-size: 15px;
  color: #444;
}

.notification-item p {
  font-size: 14px;
  color: #555;
  margin-bottom: 8px;
  max-width: 20ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.approval-label {
  position: absolute;
  bottom: 12px;
  right: 16px;
  font-size: 13px;
  font-weight: bold;
  color: #e46f00;
}
