<ion-content [fullscreen]="true" [scrollEvents]="true">
  <div class="dashboard-container">
    <!-- Header -->
    <div class="header">
      <div class="header-content">
        <div class="header-title" (click)="goBack()">
          <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          <p>Detail Approval</p>
        </div>
      </div>
    </div>

    <!-- Spacer untuk header -->
    <div class="header-spacer"></div>

    <div class="content-padding">
      <!-- No. Reg Header -->
      <div class="card-header box">
        <h2>{{ approval?.no_reg }}</h2>
        <p class="subtitle">
          Due Date: {{ approval?.due_date | date: 'dd MMM yyyy' }}
        </p>
      </div>

      <!-- Detail Info -->
      <div class="info-card box">
        <div class="info-row">
          <strong>Email:</strong><span>{{ approval?.user?.email }}</span>
        </div>
        <div class="info-row">
          <strong>Judul:</strong><span>{{ approval?.title }}</span>
        </div>
        <div class="info-row">
          <strong>Deskripsi:</strong><span>{{ approval?.description }}</span>
        </div>
        <div class="info-row">
          <strong>Total Amount:</strong
          ><span>Rp {{ approval?.total_amount | number:'1.0-0' }},-</span>
        </div>
      </div>

      <!-- Tabel Item -->
      <div class="items-table box">
        <h3>Daftar Item</h3>
        <div class="scrollable-table">
          <table>
            <thead>
              <tr>
                <th>Nama</th>
                <th>Spesifikasi</th>
                <th>Qty</th>
                <th>Unit</th>
                <th>Harga</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of approval?.items">
                <td>{{ item.item_name }}</td>
                <td>{{ item.specification }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.unit }}</td>
                <td>Rp {{ item.unit_price | number:'1.0-0' }},-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Catatan -->
      <div class="note-card box">
        <h3>Catatan</h3>
        <ion-textarea
          [(ngModel)]="note"
          placeholder="Tambahkan catatan di sini..."
          autoGrow="true"
        ></ion-textarea>
      </div>

      <!-- Tombol -->
      <div class="action-buttons-horizontal">
        <ion-button
          expand="block"
          style="--background: #ea3829; --background-activated: #c32c21"
          (click)="openConfirmModal('rejected_manager')"
        >
          Reject
        </ion-button>
        <ion-button
          expand="block"
          style="--background: #07a721; --background-activated: #068a1c"
          (click)="openConfirmModal('approved_manager')"
        >
          Approve
        </ion-button>
      </div>
    </div>
  </div>
  <!-- Custom Modal -->
  <div class="modal-backdrop" *ngIf="showModal">
    <div class="modal-box">
      <h3>Confirmation</h3>
      <p>
        Are you sure you want to
        <strong
          >{{ pendingStatus === 'approved_manager' ? 'APPROVE' : 'REJECT'
          }}</strong
        >
        this request?
      </p>
      <div class="modal-buttons">
        <ion-button fill="clear" color="medium" (click)="showModal = false"
          >Cancel</ion-button
        >
        <ion-button color="primary" (click)="submitApproval()">Yes</ion-button>
      </div>
    </div>
  </div>
</ion-content>
